*{
    margin: 0px;
}

body{
    margin: 0px;
    background-color: #F5F7FB;
    padding: 20px;
    height: 100vh;
    max-height: 708px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Karla', sans-serif;
    
    /* border: 1px solid red; */
}

#root{
    height: 100%;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */

}

button{
    cursor: pointer;
}

.green--img{
    position:fixed;
    bottom: 0;
    left: 0;
}

.orange--img{
    position:fixed;
    top: 0;
    right: 0;
}

/* WELCOME COMPONENT AND ITS ELEMENTS*/

.welcome--main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #293264;
    /* border: 1px solid yellow; */
}

.heading{
    font-size:31px ;
    font-weight: bold;
    
}

.description{
    margin-top: 20px;
    margin-bottom: 40px ;
    max-width: 190px;
    font-size: 16px;
    font-weight: medium;
    text-align: center;
}

.start--btn{
    background-color: #293264;
    color:#F5F7FB;
    border: none;
    width: 193px;
    height: 52px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: medium;
}

/* QUIZ COMPONENT AND ITS ELEMENTS*/
.question--component--main{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    /* border: 1px solid red; */
} 
.question--answer--component{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    gap:25px;
    margin-top: 30px;
   
    /* border: 1px solid blue; */
}

.question--answer--component > h4{
    color:#293264;
    font-size: 16px;
    font-weight: bold;
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 20px;
    /* border: 1px solid green; */
}

.answer--btn{
    border: 1px solid #4D5B9E;
    color:#293264;
    min-width: 65px;
    min-height: 20px;
    background-color: #F5F7FB;
    border-radius: 8px;
    padding: 5px 10px;
    font-family: 'Karla', sans-serif;

}

.check-answers{
    color: white;
    background-color: #293264;
    border: none;
    margin: auto;
    margin-top: 15px;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    padding: 10px;
}

.isHeld{
    background-color: #D6DBF5;
    border: none;
}

.isWrong{
    background-color: #F8BCBC;
    border: none;
}

.isCorrect, .isSelected{
    background-color: #97D782;
    border: none;
    
}

.score{
    font-weight: bold;
    color: #293264;
    font-size: 1.25rem;
    align-self: center;
    margin-top: 10px;
}